.jumbotron{
	background-color: #e74c3c;
	color:white;
	margin-top: 50px;

	position: relative; 
    height: 100vh;
    width: 100%;
    
    align-items: center;
    justify-content: center;
    
}
.jumbotron::before {
   content: "";
      background-image: url('/img/banner.jpeg');
      background-size: cover;
      position: absolute;
      top: -350px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
}
.jumbotron h1 {
	margin-top: 180px;
  position: relative;
  color: #ffffff;  
  display: flex;
  
  text-align: center;
}
.jumbotron p {
   position: relative;
  color: #ffffff;  
  
  
  
}
.navbar{
	background-color: #e74c3c;
}
.pagination{
	margin-top: 50px;
}
footer{
	background-color: #c0392b;
	padding: 30px;
	margin-top: 40px;
	color:white;
}
footer a{
	color:white;
}
.card-hotel{
	flex:1 300px;
	padding: 10px;
	margin-top: 10px;

}
.btn-reserva{
	width: 100%;
}